
/* BEGIN EXTERNAL SOURCE */
i {
color: #709085;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
div {
width:23rem;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
h3 {
letter-spacing: 1px;
}
/* END EXTERNAL SOURCE */
